In [1]:
import pandas as pd

## Lecture du CSV

In [2]:
df = pd.read_csv("Train.csv")

## Affichage d'un échantillon de la base de données

In [3]:
df.sample(5)

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
2130,Order_No_13468,User_Id_2869,Bike,3,Business,5,5,10:24:56 AM,5,5,...,11:04:41 AM,10,24.5,NaN,-1.258414,36.804800,-1.302583,36.767081,Rider_Id_630,1244
499,Order_No_748,User_Id_540,Bike,3,Business,19,3,2:24:53 PM,19,3,...,4:20:05 PM,6,24.3,NaN,-1.264960,36.798178,-1.294071,36.789076,Rider_Id_554,4415
1572,Order_No_15251,User_Id_701,Bike,3,Personal,14,5,2:50:09 PM,14,5,...,4:23:44 PM,10,23.7,NaN,-1.308079,36.750540,-1.286861,36.826575,Rider_Id_858,2294
2464,Order_No_26005,User_Id_432,Bike,3,Business,11,2,3:01:50 PM,11,2,...,3:54:00 PM,3,21.4,NaN,-1.301201,36.764868,-1.276349,36.767178,Rider_Id_133,1251
17311,Order_No_4764,User_Id_2212,Bike,3,Business,2,4,2:11:21 PM,2,4,...,2:55:33 PM,4,26.0,NaN,-1.264608,36.802864,-1.255956,36.772901,Rider_Id_520,1309

## Affichage des catégories de la colomne Vehicle Type
On compte le nombre de valeurs unique de la colomne ; comme il n'y en a qu'une seule, on peut s'arrêter là.

In [4]:
df["Vehicle Type"].unique()

array(['Bike'], dtype=object)

## Affichage des catégories de la colomne Personal or Business

In [13]:
for col in df["Personal or Business"].unique():
    print(col, df[df["Personal or Business"] == col].shape[0])

Business 17384
Personal 3817

In [15]:
df["Personal or Business"].value_counts()

Business    17384
Personal     3817
Name: Personal or Business, dtype: int64

In [18]:
df.groupby("Personal or Business").size()

Personal or Business
Business    17384
Personal     3817
dtype: int64